.login_modal_wrap {
  //display: none;
  position: absolute;
  width: 500px;
  border: solid 1px #7f7f7f;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  label {
    display: block;
  }
}
