#app {
  position: relative;
  height: 100vh;
  font-family: 'hanSansRegular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  font-size: 14px;

  main {
    padding: 20px;
  }

  .prl_10 {
    padding: 0 10px;
  }

}
