@import '../common';

.header {
  display: flex;
  padding: 0 20px;
  border-bottom: solid 1px #d1d2d6;
  justify-content: space-between;
  line-height: 50px;
  background-color: $color1;

  .logo_title a{
    display: block;
    text-decoration: none;
  }

  .btn_menu {
    display: block;
    height: 100%;
  }

  .nav_hader .list_menu {
    position: fixed;
    width: 100px;

    .list_item a {
      display: block;
      border: solid 1px gray;
    }
  }
}
